@import './colors';
@import './animations';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 150vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

a {
    color: $black;
    text-decoration: none;
}

.active {
    background-color: $black;
    color: $white;
}

#home,
#offer,
#contact {
    scroll-margin-top: 90px;
}

#about {
    scroll-margin-top: 130px;
}

// nav
.nav {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: $pure-white;
}

.nav-desktop,
.nav-mobile {
    width: 100%;
    height: 90px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: $pure-white;
    overflow: hidden;

    .fa-tree {
        color: $gray;
    }

    &__boxes {
        height: 100%;
        display: flex;
    }

    &__box {
        width: 100px;
        height: 100%;
        background-color: $pure-white;
        color: $black;
    }

    &__title {
        font-size: 30px;
    }

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.3s, background-color 0.3s;
    }
}

.nav-mobile {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 0.1px solid rgba($black, 0.1);

    &__title {
        padding-left: 25px;
    }

    &__item {
        display: flex;
        height: 70px;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__item:hover {
        color: $light-green;
    }

    &-menu {
        overflow: hidden;
        position: fixed;
        top: 0;
        padding-top: 100px;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $green;
        transform: translateX(100%);
        transition: transform 0.5s;

        &--active {
            transform: translateX(0%);
        }
    }

    &__burger-btn {
        position: relative;
        z-index: 100;
        top: 0;
        right: 0;
        padding: 50px;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 1px solid transparent;
        transition: color 0.3s;
        cursor: pointer;
    }

    &__burger-btn:hover {
        color: $light-green;
    }

    &__burger-box {
        .fa-bars {
            font-size: 32px;
        }
    }
}

.family {
    position: relative;
    z-index: 10;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/dist/img/girl.jpg');
    background-size: cover;
    background-position: center 50%;

    &__box {
        position: relative;
        z-index: 20;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $white;
    }

    &__heading {
        position: relative;
        z-index: 20;
        padding: 35px 70px;
        color: $pure-white;
        text-align: center;
        font-size: 35px;
        font-weight: normal;
    }

    &__shadow {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

// header
.header {
    position: relative;
    z-index: 1;
    height: 380px;
    background-image: url('/dist/img/jungle.jpg');
    background-size: cover;
    background-position: center 75%;

    &__shadow {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__title {
        position: relative;
        z-index: 20;
        padding-left: 35px;
        padding-right: 35px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
        font-size: 20px;
    }

    &__heading {
        font-size: 32.5px;
    }

    &__text,
    &__heading {
        color: $pure-white;
    }
}

// about
.about {
    margin-bottom: 50px;
    width: 100%;

    &__title {
        margin: 40px 0;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
    }

    &__content {
        margin-bottom: 50px;
        padding: 0 35px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__pic {
        width: 520px;

        img {
            width: 520px;
        }
    }

    &__text {
        padding-left: 50px;
        height: 100%;

        h3 {
            text-align: left;
            font-size: 22px;
        }

        p {
            padding-top: 15px;
            line-height: 28px;
        }
    }

}

// offer
.offer {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__heading {
        // padding-top: 25px;
        padding-bottom: 25px;
        font-size: 32px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    &__p {
        margin-bottom: 20px;
    }

    &__a {
        font-weight: bold;

    }


    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__card {
        margin: 20px;
        padding: 25px;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &-name {
            font-size: 22px;
            text-align: center;
            font-weight: normal;
        }

        &-price {
            padding-top: 8px;
            padding-bottom: 15px;
            font-size: 40px;
            font-weight: bold;
        }

        &-items-box {
            list-style: none;

            .fa-check {
                color: $light-green;
            }
        }

        &-item {
            line-height: 30px;

            &--gray {
                color: $gray;
            }
        }

        &-btn {
            width: 180px;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 18px;
            border: none;
            border-radius: 8px;
            background-color: $white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor: pointer;

            &--highlighted {
                background-color: $light-green;
            }
        }
    }

}

// MEDIA
@media(min-width: 992px) {

    .nav-desktop {
        display: flex;

        &__title {
            padding-left: 35px;
        }

        &__boxes {
            padding-right: 35px;
        }
    }

    .nav-mobile {
        display: none;
    }
}

@media(max-width: 1100px) {}

@media (max-width: 992px) {

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }


    .family {
        &__heading {
            font-size: 28px;
        }
    }

    .about {
        &__content {
            padding: 0 100px;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__pic {

            // width: 100%;
            img {
                width: 100%;
            }
        }

        &__text {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                padding-top: 15px;
            }
        }
    }
}

@media(max-width: 768px) {

    .about {
        &__content {
            padding: 0;
        }

        &__text {
            padding: 0 50px;
        }

        .family {
            &__heading {
                font-size: 24px;
            }
        }
    }
}

@media(max-width: 576px) {
    .family {

        &__box {
            width: 70%;
        }

        &__heading {
            padding: 20px 40px;
        }
    }

    .about {
        &__content {
            padding: 0;
        }

        &__text {
            padding: 0 25px;
        }


        &__pic {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__text {
            padding: 0;

            h3 {
                font-size: 18px;
            }

            p {
                width: 80%;
                font-size: 16px;
            }
        }
    }
}

@media(max-width: 450px) {
    .family {
        &__box {
            width: 65%;
        }

        &__heading {
            padding: 10px 20px;
            font-size: 22px;
        }
    }

    .header {
        &__heading {
            font-size: 25px;
        }
    }

    .about {
        &__text {
            p {
                // width: 50%;
                font-size: 14px;
            }
        }
    }

    .offer {

        &__p {
            padding: 10px 30px;
            margin: 0 auto;
            text-align: center;
        }

        .link {
            display: block;
        }


        &__card {
            min-width: 240px;
            width: 80%;
            &-name {
                // text-align: center;
            }
        }

        // &__card {}
    }
}