@import './colors';
@import './animations';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

ul {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

.active {
    background-color: $black;
    color: $white;
}

#home,
#contact {
    scroll-margin-top: 9rem;
}

#about {
    scroll-margin-top: 9rem;
}

#offer {
    scroll-margin-top: 14rem;
}

.fa-tree {
    color: $gray;
}

// nav
.nav {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: $pure-white;
}

.nav-desktop,
.nav-mobile {
    width: 100%;
    height: 9rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: $pure-white;
    overflow: hidden;

    .fa-tree {
        color: $gray;
    }

    &__boxes {
        height: 100%;
        display: flex;
    }

    &__box {
        width: 10rem;
        height: 100%;
        background-color: $pure-white;
        color: $black;
    }

    &__title {
        font-size: 3rem;
    }

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.3s, background-color 0.3s;
    }
}

.nav-mobile {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 0.01rem solid rgba($black, 0.1);

    &__title {
        padding-left: 2.5rem
    }

    &__item {
        display: flex;
        height: 7rem;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    &__item:hover {
        color: $light-green;
    }

    &-menu {
        overflow: hidden;
        position: fixed;
        top: 0;
        padding-top: 10rem;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $green;
        transform: translateX(100%);
        transition: transform 0.5s;

        &--active {
            transform: translateX(0%);
        }
    }

    &__burger-btn {
        position: relative;
        z-index: 100;
        top: 0;
        right: 0;
        padding: 5rem;
        width: 5.5rem;
        height: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 0.1rem solid transparent;
        transition: color 0.3s;
        cursor: pointer;
    }

    &__burger-btn:hover {
        color: $light-green;
    }

    &__burger-box {
        .fa-bars {
            font-size: 3.2rem;
        }
    }
}

.family {
    position: relative;
    z-index: 10;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/girl.jpg');
    background-size: cover;
    background-position: center 50%;

    &__box {
        position: relative;
        z-index: 20;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid $white;
    }

    &__heading {
        position: relative;
        z-index: 20;
        padding: 3.5rem 7rem;
        color: $pure-white;
        text-align: center;
        font-size: 3.5rem;
        font-weight: normal;
    }

    &__shadow {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

// header
.header {
    position: relative;
    z-index: 1;
    height: 38rem;
    background-image: url('../img/jungle.jpg');
    background-size: cover;
    background-position: center 75%;

    &__shadow {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__title {
        position: relative;
        z-index: 20;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
        font-size: 2rem;
    }

    &__heading {
        font-size: 3.2rem;
    }

    &__text,
    &__heading {
        color: $pure-white;
    }
}

// about
.about {
    margin-bottom: 5rem;
    width: 100%;

    &__title {
        margin: 4rem 0;
        font-size: 3.2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
    }

    &__content {
        margin-bottom: 5rem;
        padding: 0 3.5rem;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__pic {
        width: 52rem;
        overflow: hidden;
        
        img {
            width: 52rem;
            transition: transform 0.3s;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    &__text {
        width: 50%;
        padding-left: 5rem;
        height: 100%;

        h3 {
            text-align: left;
            font-size: 2.2rem;
        }

        p {
            padding-top: 1.5rem;
            line-height: 2.8rem;
        }
    }

}

// offer
.offer {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        padding-bottom: 2.5rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: lighter;
        text-transform: uppercase;
    }

    &__p {
        margin-bottom: 2rem;
    }

    &__link {
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__a {
        font-weight: bold;

    }


    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__card {
        margin: 2rem;
        padding: 2.5rem;
        width: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        &-name {
            font-size: 2.2rem;
            text-align: center;
            font-weight: normal;
        }

        &-price {
            padding-top: 0.8rem;
            padding-bottom: 1.5rem;
            font-size: 4rem;
            font-weight: bold;
        }

        &-items-box {
            .fa-check {
                color: $light-green;
            }
        }

        &-item {
            line-height: 3rem;

            &--gray {
                color: $gray;
            }
        }

        &-btn {
            width: 18rem;
            height: 4rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 1.8rem;
            border: none;
            border-radius: 0.8rem;
            background-color: $white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor: pointer;

            &--highlighted {
                background-color: $light-green;
            }
        }
    }
}

// footer
.footer {
    padding-top: 5rem;
    background-color: $milk;

    &__boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__big-box-info {
        margin-right: 5rem;
        width: 100%;
        padding: 5rem 0;
        display: flex;
        justify-content: flex-end;
    }


    &__box {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &--2 {
            margin: 0 3rem;
        }

        &-title {
            font-size: 2rem;
        }

        &-list-item {
            padding-top: 2rem;
        }
    }


    &__title-box {
        margin-left: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;

        &-heading {
            font-size: 4rem;
        }
    }

    &__bottom-text {
        height: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// contact
.contact {
    padding: 5rem;
    width: 100%;

    &__map {
        padding-bottom: 5rem;
        width: 100%;
    }

    &__title {
        text-transform: uppercase;
        font-weight: lighter;
        padding-bottom: 3rem;
        font-size: 3.2rem;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__data-box {
        width: 100%;
        display: flex;

        justify-content: center;
        align-items: center;

    }

    &__data {
        input {
            padding: 1rem;
            margin-top: 0.5rem;
            width: 100%;
            height: 4rem;
            border: 0.1rem solid $black;
        }
    }

    &__form-box {
        padding: 1rem 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        textarea {
            margin-top: 0.5rem;
            padding: 1rem;
            width: 100%;
            resize: none;
            border: 0.1rem solid $black;
        }

        .error-text {
            padding-left: 0.2rem;
            padding-top: 0.5rem;
            color: $red;
            visibility: hidden;
        }
    }

    &__form-box.error {

        input,
        textarea {
            border: 0.1rem solid $red;
            background-color: rgba(255, 0, 0, 0.1);
        }

        .error-text {
            visibility: visible;
        }
    }

    &__form-btn {
        margin: 3rem 2rem;
        padding: 1rem 2rem;
        width: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
            background-color: rgba($black, 0.1);
        }
    }

    &__popup {
        position: fixed;
        top: -30rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border: 0.2rem solid $black;
        border-radius: 0.8rem;
        transition: top 0.3s;
    }

    &__popup.show-popup {
        top: 22rem;
    }

    &__text {
        padding: 2.5rem 0;
        text-align: center;
        font-size: 2.5rem;
    }
}

// all-offers
.all-offers {
    width: 100%;

    &__header {
        position: relative;
        z-index: 10;
        height: 25rem;
        background-image: url('../img/road.jpg');
        background-size: cover;
        background-position: center 60%;
    }

    &__heading-text {
        position: relative;
        z-index: 10;
        padding: 0 5rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $pure-white;
    }

    &__heading {
        text-align: center;
        font-size: 3rem;
    }


    &__text {
        font-size: 1.8rem;
        padding-top: 1rem;
        color: $light-green;
        text-align: center;
    }


    &__shadow {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.70);
    }

    &-space {
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-title {
        text-align: center;
        padding: 1rem 5rem;
        font-size: 2.8rem;

    }

    &-description {
        padding: 1rem 5rem;
        text-align: center;
        font-size: 1.8rem;
    }

    &-box {
        position: relative;
        z-index: 10;
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center 75%;

        &--first {
            background-image: url('../img/adventure.jpg');
        }

        &--second {
            background-image: url('../img/house.jpg');
        }

        &--third {
            background-image: url('../img/luxury.jpg');
        }

        .offer__card {
            position: relative;
            z-index: 100;
            background-color: rgba(39, 45, 40, 0.82);
            border-radius: 2.5rem;
            

            &-name {
                color: $pure-white;
            }

            &-price {
                color: $white;

                &--second {
                    color: $light-green;
                }
            }

            &-item {
                color: $light-green;

                &--gray {
                    color: $pure-white;
                }
            }

        }
    }
}


// MEDIA
@media(min-width: 992px) {

    .nav-desktop {
        display: flex;

        &__title {
            padding-left: 3.5rem;
        }

        &__boxes {
            padding-right: 3.5rem;
        }
    }

    .nav-mobile {
        display: none;
    }
}

@media (max-width: 992px) {

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }


    .family {
        &__heading {
            font-size: 2.8rem;
        }
    }

    .about {
        &__content {
            padding: 0 10rem;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__pic {
            img {
                width: 100%;
            }
        }

        &__text {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                padding-top: 1.5rem;
            }
        }
    }

    .footer {
        &__boxes {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &__big-box-info {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__title-box {
            margin: 0;
            width: 100%;
        }
    }

}

@media(max-width: 768px) {

    .about {
        &__content {
            padding: 0;
        }

        &__text {
            padding: 0 5rem;
        }

        .family {
            &__heading {
                font-size: 2.4rem;
            }
        }
    }

    .contact {

        &__data-box {
            padding: 0;
            min-width: 30rem;
            flex-direction: column;
        }

        &__data {
            padding: 1rem 0;
        }

        &__form-box {
            padding: 1rem 0;

            textarea {
                min-width: 30rem;
            }
        }

        &__form-btn {
            width: 20rem;
            margin: 3rem 0;
        }


        &__popup {
            width: 40rem;
        }

        &__popup.show-popup {
            top: 22rem;
        }

        &__text {
            padding: 1rem 2rem;
            font-size: 1.6rem;
        }

    }

    .all-offers {
        &__heading {
            font-size: 2.4rem;
        }

        &__text {
            font-size: 1.5rem;
        }

        &-title {
            text-align: center;
            padding: 1rem 5rem;
            font-size: 2.4rem;

        }

        &-description {
            text-align: center;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

    }



}

@media(max-width: 576px) {
    .family {

        &__box {
            width: 70%;
        }

        &__heading {
            padding: 2rem 4rem;
        }
    }

    .about {
        &__content {
            padding: 0;
        }

        &__text {
            padding: 0 2.5rem;
        }


        &__pic {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__text {
            padding: 0;

            h3 {
                font-size: 1.8rem;
            }

            p {
                width: 80%;
                font-size: 1.6rem;
            }
        }
    }
}

@media(max-width: 450px) {
    .family {
        &__box {
            width: 65%;
        }

        &__heading {
            padding: 1rem 2rem;
            font-size: 2.2rem;
        }
    }

    .header {
        &__heading {
            font-size: 2.5rem;
        }
    }

    .about {
        &__text {
            p {
                font-size: 1.4rem;
            }
        }
    }

    .offer {

        &__p {
            padding: 1rem 3rem;
            margin: 0 auto;
            text-align: center;
        }

        .link {
            display: block;
        }


        &__card {
            min-width: 24rem;
            width: 80%;
        }
    }

    .footer {
        &__boxes {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__big-box-info {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }


        &__box {
            margin: 2.5rem 0;

            &-title {
                font-size: 1.8rem;
            }

            &-list-item {
                font-size: 1.4rem;
            }
        }

        &__title-box {
            &-heading {
                font-size: 3rem;
            }
        }

        &__bottom-text {
            font-size: 1.3rem;
        }
    }

    .contact {
        &__title {
            padding-bottom: 2rem;
        }

        padding: 2rem;

        &__data-box {
            padding: 0;
            min-width: 20rem;
            flex-direction: column;
        }

        &__data {
            padding: 1rem 0;
        }

        &__form-box {
            padding: 1rem 0;

            textarea {
                min-width: 20rem;
            }
        }

        &__form-btn {
            width: 10rem;
        }

        &__popup {
            width: 20rem;
        }
    }
}