@import './colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 150vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

a {
    color: $black;
    text-decoration: none;
}

.active {
    background-color: $black;
    color: $white;
}

// nav
.nav {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: $pure-white;
}

.nav-desktop,
.nav-mobile {
    width: 100%;
    height: 90px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: $pure-white;

    .fa-tree {
        color: $gray;
    }

    &__boxes {
        height: 100%;
        display: flex;
    }

    &__box {
        width: 100px;
        height: 100%;
        background-color: $pure-white;
        color: $black;
    }

    &__title {
        font-size: 30px;
    }

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.3s, background-color 0.3s;
    }
}

.nav-mobile {
    display: flex;

    &__title {
        padding-left: 25px;
    }

    &__item {
        display: flex;
        height: 70px;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__item:hover {
        color: $pink;
    }

    &-menu {
        position: fixed;
        top: 0;
        padding-top: 100px;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $green;
        transform: translateX(100%);
        transition: transform 0.5s;

        &--active {
            transform: translateX(0%);
        }
    }

    &__burger-btn {
        position: relative;
        z-index: 100;
        top: 0;
        right: 0;
        padding: 50px;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 1px solid transparent;
        transition: color 0.3s;
        cursor: pointer;
    }

    &__burger-btn:hover {
        color: $pink;
    }

    &__burger-box {
        .fa-bars {
            font-size: 32px;
        }
    }
}

// header
.header {
    position: relative;
    z-index: 1;
    height: 380px;
    background-image: url('/dist/img/jungle.jpg');
    background-size: cover;
    background-position: center 75%;

    &__shadow {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__title {
        position: relative;
        z-index: 20;
        padding-left: 35px;
        padding-right: 35px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
        font-size: 20px;
    }

    &__heading {
        font-size: 32.5px;
    }

    &__text,
    &__heading {
        color: $pure-white;
    }
}

// about
.about {
    margin-bottom: 50px;
    width: 100%;

    &__title {
        margin: 40px 0;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
    }

    &__content {
        margin-bottom: 50px;
        padding: 0 35px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__pic {
        width: 520px;

        img {
            width: 520px;
        }
    }

    &__text {
        padding-left: 50px;
        height: 100%;

        h3 {
            font-size: 22px;
        }

        p {
            padding-top: 15px;
            line-height: 28px;
        }
    }

}

// MEDIA
@media (max-width: 992px) {
    .about {
        &__content {
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__pic {

            img {
                width: 100%;
            }
        }

        &__text {
            padding: 0;
            width: 520px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                padding-top: 15px;
            }
        }
    }
}

@media(max-width: 1100px) {}

@media(max-width: 768px) {}

@media(min-width: 992px) {

    .nav-desktop {
        display: flex;

        &__title {
            padding-left: 35px;
        }

        &__boxes {
            padding-right: 35px;
        }
    }

    .nav-mobile {
        display: none;
    }
}

@media(max-width: 576px) {
    .about {
        &__pic {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__text {
            h3 {
                font-size: 18px;
            }

            p {
                padding: 10px 20px 10px 20px;
                width: 80%;
                font-size: 16px;
            }
        }
    }
}

@media(max-width: 450px) {
    .header {
        &__heading {
            font-size: 25px;
        }
    }

    .about {
        &__text {
            p {
                width: 50%;
                font-size: 14px;
            }
        }
    }
}